{% extends 'base.html.twig' %}

{% block title %}Gérer les lieux{% endblock %}

{% block main %}
    <h1 style="text-align: center">Gérer les lieux</h1>
    <div class="text-right mb-2">
        <a id="test" href="{{ path('add_place') }} " class="btn btn-outline-dark"><i class="fas fa-plus-circle"></i> Ajouter un lieu</a>
    </div>
    <table class="table" id="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Lieu</th>
            <th scope="col">Rue</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Ville</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th scope="col">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                    {% if(id is defined and id==place.id) %}

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModal">Modification du lieu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        {{ form_start(placeForm) }}
                                        {{ form_row(placeForm.nom_lieu)}}
                                        {{ form_row(placeForm.rue)}}
                                        {{ form_row(placeForm.latitude)}}
                                        {{ form_row(placeForm.longitude)}}
                                        {{ form_row(placeForm.no_ville)}}
                                        <button type="submit" style="" class="btn btn-outline-dark float-right">Valider</button>
                                        {{ form_end(placeForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <td>{{place.getNomLieu()}}</td>
                <td>
                    {{place.getRue()}}
                </td>
                <td>
                    {{place.getLatitude()}}
                </td>
                <td>
                    {{place.getLongitude()}}
                </td>
                        <td>
                            {{place.getNoVille().getNomVille()}}
                        </td>

                {% else %}
                    <td>{{place.getNomLieu()}}</td>
                    <td>{{place.getRue()}}</td>
                    <td>{{place.getLatitude()}}</td>
                    <td>{{place.getLongitude()}}</td>
                    <td>{{place.getNoVille().getNomVille()}}</td>

                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <td> <div class="btns-gestion">
                        <a href="{{ path('manageID_place',{ 'id': place.id })}}"><i class="fas fa-edit"></i></a>
                        -
                        <form method="post"
                              action="{{ path("delete_place", {'id' : place.id }) }}"
                              onsubmit="return confirm('Confirmation de la suppression ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~place.id) }}">
                            <button class="btn btn-link fas fa-trash-alt"></button>
                        </form>
                    </div>
                </td>
                {%  endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if placeFormulaire is defined  %}
        <div class="modal fade" id="addPlace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPlace">Ajout d'un lieu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            {{ form_start(placeFormulaire) }}
                            {{ form_row(placeFormulaire.nom_lieu)}}
                            {{ form_row(placeFormulaire.rue)}}
                            {{ form_row(placeFormulaire.latitude)}}
                            {{ form_row(placeFormulaire.longitude)}}
                            {{ form_row(placeFormulaire.no_ville)}}
                            <button type="submit" style="" class="btn btn-outline-dark float-right">Valider</button>
                            {{ form_end(placeFormulaire)  }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                },
                responsive: true,
            });
            $('#myModal').modal('show');
            $('#addPlace').modal('show');
        } );
    </script>
{% endblock %}
