{% extends 'base.html.twig' %}
{% block main %}
    <h1 style="text-align: center">Gérer les sites</h1>
    <a href="{{ path('add_site') }} " class="btn btn-primary"><i class="fas fa-plus-circle"></i> Ajouter</a>
    <table class="table" id="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Sites</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for site in sites %}
        <tr>
            <td>
                {% if(id is defined and id==site.id) %}
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModal">Modification du site</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                    {{ form_start(siteForm) }}
                                    {{ form_row(siteForm.nom_site) }}
                                        <button type="submit" style="" class="btn btn-primary float-right">Valider</button>
                                    {{ form_end(siteForm)  }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{site.getNomSite()}}
                {% else %}
                    {{site.getNomSite()}}
                {% endif %}
            </td>
            <td>
                <div class="row">
                <a href="{{ path('manageID_site',{ 'id': site.id })}}"><i class="fas fa-edit"></i></a>
                -
                <form method="post"
                      action="{{ path("delete_site", {'id' : site.id }) }}"
                      onsubmit="return confirm('Confirmation de la suppression ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~site.id) }}">
                    <button class="btn btn-link fas fa-trash-alt"></button>
                </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% if siteFormulaire is defined  %}
    <div class="modal fade" id="addSite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSite">Ajout du site</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        {{ form_start(siteFormulaire) }}
                        {{ form_row(siteFormulaire.nom_site) }}
                        <button type="submit" style="" class="btn btn-primary float-right">Valider</button>
                        {{ form_end(siteFormulaire)  }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{%  block javascripts %}
    <script>
$(document).ready( function () {
    $('#table').DataTable({
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
        },
        responsive: true,
    });
    $('#myModal').modal('show');
    $('#addSite').modal('show');
} );
</script>
{% endblock %}
