{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block main %}
    {% if mesSorties is defined %}
        <h1>Liste de mes sorties</h1>
    {% else %}
        <h1>Liste des sorties</h1>
    {% endif %}
    {{ form_start(searchForm, { 'attr' : {
        'class': 'row',
        'style' : 'align-items:center;'
    } }) }}
    <div class="col-sm-12 col-md-6">
        {{ form_row(searchForm.site) }}
        {{ form_row(searchForm.nom) }}
        <div style="display: flex; justify-content: space-between;">
            {{ form_row(searchForm.date_debut) }}
            {{ form_row(searchForm.date_fin) }}
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_rest(searchForm) }}
        <button type="submit" class="btn btn-outline-dark w-100"><i class="fas fa-search"></i> Rechercher</button>
    </div>
    {{ form_end(searchForm) }}
    <div class="row">
    {% if sorties is defined %}
    {% for sortie in sorties %}
        {% if sortie.getNoEtat().getLibelle()!="Archivée" %}
            <a href="{{ path("sortie_detail", { "id" : sortie.getId() }) }}" title="Plus d'informations">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" >
                        <div class="embed-responsive embed-responsive-16by9">
                            <img src="{{ sortie.getUrlPhoto() }}" class="card-img-top embed-responsive-item"
                                 style="object-fit: cover" >
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ sortie.getNom() }} </h5>
                            <p>proposé par <a href="{{ path("user_detail", { "id" : sortie.getNoOrganisateur().getId }) }}"
                                              class="stretched-link"
                                              style="color: deepskyblue">{{ sortie.getNoOrganisateur().getUsername }}</a></p>
                            {% if sortie.getNoEtat().getLibelle()!="Annulée" %}
                                <p class="card-text">{{ sortie.getDateDebut()|date("d/m/Y") }}</p>
                            {% else %}
                                <p class="card-text" style="color: white;background: #ff5f33;text-align: center">Annulé</p>
                            {% endif %}
                            <a href="{{ path("sortie_detail", { "id" : sortie.getId() }) }}" title="Plus d'informations"><i
                                        class="fas fa-info-circle"></i></a>
                            {% if sortie.getNoOrganisateur().getId()==app.user.id %}
                                <div class="row">
                                     {% if sortie.getNoEtat().getLibelle()=="Créée" or  sortie.getNoEtat().getLibelle()=="Ouverte" %}
                                    <a href="{{ path('edit_sortie',{ 'id': sortie.getId() }) }}"><i
                                                class="fas fa-edit"></i></a>
                                    -
                                     {% endif %}
                                    {% if sortie.getNoEtat().getLibelle()=="Créée" or  sortie.getNoEtat().getLibelle()=="Ouverte" or sortie.getNoEtat().getLibelle()=="Clôturée" %}
                                        <a href="{{ path('cancel_sortie',{ 'id': sortie.getId() }) }}"><i
                                                    class="fas fa-calendar-times"></i></a>
                                        -
                                    {% endif %}
                                    <form method="post"
                                          action="{{ path("sortie_delete", {'id' : sortie.getId() }) }}"
                                          onsubmit="return confirm('Confirmation de la suppression ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~sortie.getId()) }}">
                                        <button class="btn btn-link fas fa-trash-alt"></button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
    {% else %}
    <div class="col-12">
        <h3>Pas de sorties</h3>
        <p> Vous n'avez pas créer de sorties. Pour en créer une cliquer sur le bouton "Ajouter"</p>
        <a href="{{ path("sortie_create") }}" class="btn btn-primary">Ajouter</a>
        {% endif %}
    </div>
{% endblock %}