{% extends 'base.html.twig' %}

{% block title %}Détail de l'utilisateur | {{ parent() }}{% endblock %}

{% block main %}
    {# afficher les données de l'utilisateur #}

    <div class="container">
        <h1 align="center">{{ user.getUsername() }}</h1>
        <p >Prénom : {{ user.getPrenom() }}</p>
        <p >Nom : {{ user.getNom() }}</p>
        <p >Téléphone : {{ user.getTelephone() }}</p>
        <p>Email : {{ user.getMail() }}</p>
        <p >Ville de rattachement : {{ user.getNoSite().getNomSite }}</p>

    </div>
    <button type=""  style="" class="btn btn-primary float-right" onclick="window.history.go(-1)" >Retour</button>
{% endblock %}

